version: '3.4'

services:
  MyWebPhoneStoreApi.service:
    image: MyWebPhoneStoreApiService
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      MyWebPhoneStoreApi__ConnectionString: 'server=192.168.0.102;port=5433;database=MyPhoneStore;uid=postgres;password=postgres;'
    ports:
      - 5002:80
